{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image.png" href="{% static "frontend/favicon.ico" %}">
    <link rel="stylesheet" href="{% static "frontend/css/bootstrap.min.css" %}">
    <title>App</title>
</head>
<body style="background: #f5f6fa">
    <div id="app"></div>

    <script src="{% static "frontend/js/jquery.min.js" %}"></script>
    <script src="{% static "frontend/js/bootstrap.min.js" %}"></script>
    <script src="{% static "frontend/js/main.js" %}"></script>
</body>
</html>